
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Python Web Scraping With Flask</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  </head>

  <body>

    <main role="main" class="container-fluid">

      <div class="starter-template">
        <div class="row mt-3">
          <div class="col-12">
            <form class="form-inline my-2 my-lg-0" method='POST' action='/'>
              <input class="form-control mr-sm-2" type="text" placeholder="Persquisar" aria-label="Persquisar" name="criteria">
              <input class="form-control mr-sm-2" type="text" placeholder="dd/mm/aaaa" aria-label="Persquisar" name="date_criteria">
              <input class="form-control mr-sm-2" type="text" placeholder="00.00 Fechamento" aria-label="Fechamento" name="value_criteria">
              <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
            </form>
          </div>
        </div>
          <hr>
          {% if results %}
            <div class="row">
                <div class="col-12">
                    <p><b>Papel:</b> {% print(criteria) %} <b>Previsão:</b> {% print("%.2f" % results[0][0]) %}</p>
                </div>
            </div>
          {% endif %}
      </div>

    </main><!-- /.container -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>
